<%- include('../views/partials/header') %>
<form action="/posts" method="POST">
<div>
    <input class="status" type="text" name="text" value="MAKE US LAUGH">
</div> 
<div class="newPost">
    <button id="post" type="submit">POST</button> 
</div> 
</form>
<div class="displayPosts">
    <div class="post">
    <% posts.forEach(function(p) { %>
        <h3><%= p.text %></h3>
        <div class="info"><%= p.createdBy.name %></div>
        <div class="info"><%= p.createdAt %></div>
        <br>
        <div>
            <a id="see-more" href="/posts/<%= p.id %>/details">See More</a>
            <% if (user && p.createdBy._id.equals(user._id)) { %>
                <a id="edit" href="/posts/<%= p.id %>/edit">edit</a>
                <form action="/posts/<%=p.id%>?_method=DELETE" class="delete-form" method="POST">
                    <button type="submit">X</button>
                </form>
            <% } %>
        </div>
   <% }) %>
    </div>
</div>
<%- include('../views/partials/footer') %>